In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
import re

In [2]:
df = pd.read_csv('../DataSets/Precily_Text_Similarity.csv')

In [3]:
df.head()

,text1,text2
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...

In [4]:
df['text1'][226]

'us adds more jobs than expected the us economy added 337 000 jobs in october - a seven-month high and far more than wall street expectations.  in a welcome economic boost for newly re-elected president george w bush  the labor department figures come after a slow summer of weak jobs gains. jobs were created in every sector of the us economy except manufacturing. while the separate unemployment rate went up to 5.5% from 5.4% in september  this was because more people were now actively seeking work.  the 337 000 new jobs added to us payrolls in october was twice the 169 000 figure that wall street economists had forecast. in addition  the labor department revised up the number of jobs created in the two previous months - to 139 000 in september instead of 96 000  and to 198 000 in august instead of 128 000. the better than expected jobs data had an immediate upward effect on stocks in new york  with the main dow jones index gaining 45.4 points to 10 360 by late morning trading.  it looks like the job situation is improving and that this will support consumer spending going into the holidays  and offset some of the drag caused by high oil prices this year   said economist gary thayer of ag edwards & sons.  other analysts said the upbeat jobs data made it more likely that the us federal reserve would increase interest rates by a quarter of a percentage point to 2% when it meets next week.  it should empower the fed to clearly do something   said robert macintosh  chief economist with eaton vance management in boston. kathleen utgoff  commissioner of the bureau of labor  said many of the 71 000 new construction jobs added in october were involved in rebuilding and clean-up work in florida  and neighbouring deep south states  following four hurricanes in august and september. the dollar rose temporarily on the job creation news before falling back to a new record low against the euro  as investors returned their attention to other economic factors  such as the us s record trade deficit. there is also speculation that president bush will deliberately try to keep the dollar low in order to assist a growth in exports.'

In [5]:
df['text2'][226]

'consumer spending lifts us growth us economic growth accelerated in the third quarter  helped by strong consumer spending  official figures have shown.  the economy expanded at an annual rate of 3.7% in the july to september period  the commerce department said. the figure marked an increase on the 3.3% growth recorded in the second quarter  but fell short of the 4.2% rate pencilled in by forecasters. the increase reflected the biggest jump in consumer spending in a year.  it was a little softer than the consensus  but not a real surprise   said gary thayer  an economist at ag edwards & sons. friday s growth estimate is one of the last significant pieces of economic data before the 2 november presidential election.  democrat challenger john kerry has criticised president george w bush s handling of the economy  pointing to a net loss of over 800 000 jobs since mr bush took office. analysts said the economy was still not growing fast enough to stimulate large-scale job creation.  it s a pretty good growth rate  but it may not be good enough to create enough jobs   said robert brusca  chief economist at fact and opinion economics in new york. however  president bush is expected to point to commerce department figures showing that consumer spending grew at 4.6% in the third quarter  up from just 1.6% in the second  as evidence that his policies are generating solid growth. consumer spending accounts for about two thirds of all economic activity in the us.  the weaker than expected growth figure makes it less likely that the us federal reserve will raise interest rates next month  economists said.  the economy regained some traction in the third quarter  but the growth is not robust   ag edwards  thayer.  i think that means the fed can take its time raising rates. we ll probably see one more rate hike before the end of the year.  in an effort to pre-empt rising inflation  the federal reserve has pushed through three quarter-point rate rises since june this year  taking borrowing costs to 1.75%. on the financial markets  the dollar fell slightly against the euro and the yen  while the dow jones index of leading us shares was little changed.'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 2 columns):
text1    3000 non-null object
text2    3000 non-null object
dtypes: object(2)
memory usage: 47.0+ KB

In [7]:
df.isnull().sum()

text1    0
text2    0
dtype: int64

# Text Preprocessing

In [8]:
def non_ascii(text):
    return "".join(i for i in text if ord(i)<128)

In [9]:
def remove_special_chars(text):
    chars = r'[^a-zA-Z0-9.,!?/:;\'\"\s]'
    return re.sub(chars,'',text)

In [10]:
def lower(text):
  return text.lower()

In [11]:
def removeStopWords(str):
#select english stopwords
  cachedStopWords = set(stopwords.words("english"))
#add custom words
  cachedStopWords.update(('and','I','A','http','And','So','arnt','This','When','It','many','Many','so','cant','Yes','yes','No','no','These','these','mailto','regards','ayanna','like','email'))
#remove stop words
  new_str = ' '.join([word for word in str.split() if word not in cachedStopWords]) 
  return new_str

In [12]:
df['new_text1'] = df.text1.apply(func= non_ascii)
df['new_text1'] = df.new_text1.apply(func= remove_special_chars)
df['new_text1'] = df.new_text1.apply(func= removeStopWords)

In [13]:
df['new_text2'] = df.text2.apply(func= non_ascii)
df['new_text2'] = df.new_text2.apply(func= remove_special_chars)
df['new_text2'] = df.new_text2.apply(func= removeStopWords)

## Tokenization and stemming

In [14]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
Port_stem = PorterStemmer()

In [15]:
def token_stemming(text):
    tokens = word_tokenize(text)
    stemmed_tokens = ' '.join([Port_stem.stem(w) for w in tokens])
    return stemmed_tokens

In [16]:
df['new_text1'] = df.new_text1.apply(func= token_stemming)

In [17]:
df['new_text2'] = df.new_text2.apply(func= token_stemming)

In [18]:
df.head()

,text1,text2,new_text1,new_text2
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...,broadband challeng tv view number european bro...,garden win doubl glasgow britain jason garden ...
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...,rap boss arrest drug find rap mogul marion sug...,amnesti chief lament war failur lack public ou...
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...,player burnout worri robinson england coach an...,hank greet wintri premier hollywood star tom h...
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...,heart oak 32 cotonsport heart oak set ghanaian...,redford vision sundanc despit sport corduroy c...
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...,sir paul rock super bowl crowd sir paul mccart...,mauresmo open victori la ameli mauresmo maria ...

# Bag of words  
### Count Vectorization
### predicting score using cosine similarity

In [19]:
ans = []
for i in range(len(df)):
    documents = [df['new_text1'][i], df['new_text2'][i]]
    count_vectorizer =CountVectorizer(stop_words='english')
    sparse_matrix = count_vectorizer.fit_transform(documents)
    doc_term_matrix = sparse_matrix.todense()
    dd = pd.DataFrame(doc_term_matrix, columns=count_vectorizer.get_feature_names(), index=['x','y'])
    ans.append(cosine_similarity(dd, dd)[0,1])

In [ ]:
doc_term_matrix

In [20]:
Ans = pd.DataFrame(ans, columns = ['Similarity_Score'])

In [21]:
df = df.join(Ans)

In [22]:
large = df.Similarity_Score.nlargest(10)
large

2820    1.000000
2304    1.000000
114     0.507785
226     0.425008
251     0.413211
2200    0.407152
1725    0.394969
667     0.390789
2113    0.376195
837     0.372825
Name: Similarity_Score, dtype: float64

In [23]:
df.Similarity_Score.nsmallest(10)

1034    0.000000
1052    0.000000
1509    0.000000
1773    0.000000
2102    0.000000
2118    0.000000
2266    0.000000
2357    0.002068
2085    0.002392
89      0.002418
Name: Similarity_Score, dtype: float64

In [24]:
dt = df.drop(columns=['text1','text2'])

In [25]:
dt

,new_text1,new_text2,Similarity_Score
0,broadband challeng tv view number european bro...,garden win doubl glasgow britain jason garden ...,0.102075
1,rap boss arrest drug find rap mogul marion sug...,amnesti chief lament war failur lack public ou...,0.033114
2,player burnout worri robinson england coach an...,hank greet wintri premier hollywood star tom h...,0.045743
3,heart oak 32 cotonsport heart oak set ghanaian...,redford vision sundanc despit sport corduroy c...,0.026802
4,sir paul rock super bowl crowd sir paul mccart...,mauresmo open victori la ameli mauresmo maria ...,0.077124
5,india deport bollywood actress india order dep...,foster buy stake winemak australian brewer fos...,0.069907
6,mutant book win guardian prize book evolut mut...,jp morgan admit us slaveri link thousand slave...,0.038455
7,aid climat top davo agenda climat chang fight ...,howl help boost japan cinema japan box offic r...,0.060780
8,kennedi predict bigger turnout voter pent pass...,ocean twelv raid box offic ocean twelv crime c...,0.029035
9,carri star patsi rowland die actress patsi row...,uk broadband get speed inject broadband rapid ...,0.077380
10,lion blow world cup winner british irish lion ...,protect whistleblow tuc say govern chang law g...,0.082843
11,speech take search engin scottish firm look at...,lennon brand ranger favourit celtic neil lenno...,0.080676
12,bbc pour 9m new comedi bbc invest 9m develop n...,unilev shake profit slip anglodutch consum goo...,0.214324
13,gerrard play european hope steven gerrard admi...,game firm face tough futur uk video game firm ...,0.061365
14,pearc keen succeed keegan joint assist boss st...,cactu diet deal phytopharm slim aid made south...,0.037588
15,conserv back id card tori back controversi gov...,buffi creator join wonder woman creator buffi ...,0.042143
16,playstat 3 processor unveil cell processor dri...,search war hit desktop pc anoth front ongo bat...,0.148630
17,podcast look net money nasa 14yearold boy bedr...,appl mac mini get warm welcom mac mini welcom ...,0.119430
18,dozen held id fraud site twentyeight peopl inc...,europ back digit tv lifestyl peopl receiv digi...,0.087375
19,kennedi predict bigger turnout voter pent pass...,van gogh festiv film withdrawn murder director...,0.047899
20,chancellor ralli labour voter gordon brown iss...,microsoft set sight spywar window user could s...,0.099842
21,savvi searcher fail spot ad internet search en...,moor question captainci brian moor believ engl...,0.044924
22,secur warn fbi viru us feder bureau investig w...,man utd open book glazer manchest unit board a...,0.053351
23,imf cut german growth estim intern monetari fu...,incred win anim award incred movi beaten shrek...,0.021836
24,quiksilv move rossignol share ski rossignol wo...,ea take film tv giant video game giant electro...,0.111468
25,sir paul rock super bowl crowd sir paul mccart...,ms cut price averag 24 mark spencer cut price ...,0.044655
26,doubl injuri blow strike wale wale centr sonni...,steadi job growth continu us us creat fewer jo...,0.046029
27,new foot mouth action urg senior tori mp criti...,barbarian 1947 new zealand new zealand prove s...,0.077053
28,uk firm embrac ecommerc uk firm embrac interne...,eminem secret gig venu reveal rapper eminem pl...,0.078553
29,john peel replac show begin perman replac late...,cactu diet deal phytopharm slim aid made south...,0.035942
...,...,...,...
2970,crude oil price back 50 cold weather across pa...,whitehal shred increas tori civil servant dras...,0.114069
2971,everton weir cool euro hope everton defend dav...,russia wto talk make progress talk russia prop...,0.131193
2972,mobil multimedia slow catch doubt mobil phone ...,qwest may spark mci bid war us phone compani q...,0.128177
2973,church urg nelli show boycott church minist tr...,labour four littl word labour unveil four litt...,0.067643
2974,william battl aussi titl serena william stage ...,russian exspi hunger strike exrussian intellig...,0.088695
2975,tech help disabl speed demon organis launch en...,turkeyiran mobil deal risk turkey invest iran ...,0.059890
2976,howard attack cost asylum michael howard launc...,us compos recreat bach score us musicologist r...,0.089381
2977,fox reliant realiti tv head us tv network fox ...,market fall weak dollar fear rise oil price si...,0.106475
2978,drive save festiv holiday effort made protect ...,yangtz electr profit doubl yangtz electr power...,0.049811
2979,ban hit halflif 2 pirat hard 20 000 peopl ban ...,virgin radio offer 3g broadcast uk broadcast v...,0.104371
2980,faultless feder equal roger feder nice bloke f...,munster cup tie switch spain munster heineken ...,0.077988
2981,india russia energi talk india russia work tog...,emi share hit profit warn share music giant em...,0.109048
2982,spam email tempt net shopper comput user acros...,fa decid punish mourinho footbal associ take a...,0.015320
2983,visa row mandarin made sir john top civil serv...,chancellor ralli labour voter gordon brown iss...,0.163480
2984,hewitt fall dent lleyton hewitt suffer shock d...,ukrain revisit state selloff ukrain prepar cou...,0.042758
2985,soni ware win innov award soni taken prize top...,jackson film absolut disast pr expert told mic...,0.121426
2986,swiss cement firm buy spree swiss cement firm ...,uk useless quango fire uk 529 quango financ bi...,0.088759
2987,blair back preelect budget toni blair back cha...,us compani admit benin briberi us defenc telec...,0.102656
2988,bank set leav rate hold uk interest rate set r...,home loan approv rise number mortgag approv uk...,0.217064
2989,arci injuri add ireland woe gordon arci rule i...,kluft impress sotherton form olymp heptathlon ...,0.037023
2990,million miss net 2025 40 uk popul still withou...,rocker doherti onstag fight rock singer pete d...,0.036224
2991,candela complet bolton switch bolton boss sam ...,hagu sixfigur earn shown reward leav frontbenc...,0.043712
2992,moya fight back indian titl carlo moya becam f...,cairn share slump oil setback share cairn ener...,0.119895
2993,voter trust politician eight 10 voter trust po...,aviat win top globe accolad aviat name best fi...,0.052784
2994,uk youth interest polit major young peopl inte...,fear help franc laport franc coach bernard lap...,0.060886
2995,uk director guild nomine name martin scorses c...,steel firm cut 45 000 job mittal steel one wor...,0.009892
2996,u2 play grammi award show irish rock band u2 p...,israel look us bank chief israel ask us banker...,0.041412
2997,pountney hand ban fine northampton coach budg ...,india iran ga export deal india sign 40bn 21bn...,0.009332
2998,bell name best scottish band bell sebastian na...,mido make third apolog ahm mido hossam made an...,0.069586
2999,crimin probe citigroup deal trader us bank gia...,former ni minist scott die former northern ire...,0.050527

In [26]:
sent1 = "hello... i know your favourite fruit is mango"
sent2 = "hello.. i came to know that mango is your favourite fruit"

In [27]:
def similarity(sent1,sent2):
    sent1_na = non_ascii(sent1)
    sent2_na = non_ascii(sent2)
    sent1_rsc = remove_special_chars(sent1_na)
    sent2_rsc = remove_special_chars(sent2_na)
    low1 = lower(sent1_rsc)
    low2 = lower(sent2_rsc)
    stop1 = removeStopWords(low1)
    stop2 = removeStopWords(low2)
    token_stemming(stop1)
    token_stemming(stop2)
    documents = [sent1,sent2]
    count_vectorizer =CountVectorizer(stop_words='english')
    sparse_matrix = count_vectorizer.fit_transform(documents)
    doc_term_matrix = sparse_matrix.todense()
    dd = pd.DataFrame(doc_term_matrix, columns=count_vectorizer.get_feature_names(), index=['x','y'])
    print(cosine_similarity(dd, dd)[0,1])

In [28]:
similarity(sent1,sent2)

0.9128709291752769

In [31]:
sparse_matrix.shape

(2, 229)

In [30]:
doc_term_matrix

matrix([[1, 1, 0, 0, 0, 0, 0, 1, 2, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
         0, 0, 1, 2, 1, 0, 0, 6, 3, 1, 0, 0, 3, 1, 0, 1, 0, 1, 0, 2, 0,
         0, 0, 6, 0, 0, 0, 1, 0, 2, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 4, 1,
         1, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
         0, 0, 2, 0, 0, 0, 1, 0, 1, 1, 0, 2, 0, 0, 1, 1, 1, 0, 1, 0, 1,
         1, 0, 2, 3, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 4, 1,
         0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 2, 0, 2, 0,
         0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 1, 0, 0, 2, 0,
         1, 1, 0, 5, 2, 1, 1, 0, 1, 2, 2, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
         5, 2, 1, 2, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0,
         1, 0, 1, 1, 1, 0, 3, 2, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0],
        [0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
         1, 1, 0, 0, 0, 2, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1,
         2, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 2, 0, 0, 0, 1, 0, 1,
         0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 3, 4, 1, 0, 1, 1,
         1, 2, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
         0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 2, 0, 1, 1, 0, 1,
         1, 4, 0, 0, 2, 2, 1, 2, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1,
         1, 1, 1, 6, 0, 1, 1, 2, 1, 0, 1, 5, 4, 0, 1, 1, 0, 1, 1, 0, 1,
         0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 2, 1, 0, 1,
         1, 0, 0, 0, 1, 1, 2, 1, 1, 1, 1, 0, 5, 1, 1, 0, 1, 2, 1, 1, 1,
         0, 1, 0, 0, 0, 2, 0, 0, 1, 0, 1, 3, 1, 2, 2, 0, 0, 0, 1]],
       dtype=int64)

In [ ]:
dd

## Designing web using Flask

In [ ]:
from flask import Flask, request, render_template
app = Flask(__name__)


@app.route("/")
def home():
    return render_template('index.html')

@app.route('/get_text', methods=['POST'])

def get_text():
    output = request.form.to_dict()
    sent1 = output["text1"]
    sent2 = output["text2"]
    sent1_na = non_ascii(sent1)
    sent2_na = non_ascii(sent2)
    sent1_rsc = remove_special_chars(sent1_na)
    sent2_rsc = remove_special_chars(sent2_na)
    low1 = lower(sent1_rsc)
    low2 = lower(sent2_rsc)
    stop1 = removeStopWords(low1)
    stop2 = removeStopWords(low2)
    token_stemming(stop1)
    token_stemming(stop2)
    documents = [sent1,sent2]
    count_vectorizer =CountVectorizer(stop_words='english')
    sparse_matrix = count_vectorizer.fit_transform(documents)
    doc_term_matrix = sparse_matrix.todense()
    dd = pd.DataFrame(doc_term_matrix, columns=count_vectorizer.get_feature_names(), index=['x','y'])
    sim = (cosine_similarity(dd, dd)[0,1])
    return render_template('index.html',prediction=sim)
    
    
if __name__ == '__main__':
    app.run(debug = True,use_reloader=False)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [07/Aug/2022 14:03:37] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [07/Aug/2022 14:03:55] "POST /get_text HTTP/1.1" 200 -